/*************** Menu ****************/
nav {
    width: 100%;
    top: 0;
    left: 0;
    border-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}




.logo {
    width: 70px;
    height: auto;
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
        font-family: "Manrope", sans-serif;
        padding-right: 2%;
}

.menu a {
    display: block;
    color: #fcfcfc;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-weight: 800;
    
}

.menu a:hover {
    color: #ff7b00;
}

.burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 3%;
}

.burger .line {
    width: 100%;
    height: 2px;
    background-color: #fcfcfc;
    margin-bottom: 5px;
    transition: 0.2s linear;
}

.burger {
    display: none;
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
        
    }

    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
    }

    nav.active .menu {
        display: list-item;
        position: absolute;
        left: 20%;
        z-index: 11;
    }

    nav.active .menu a {
        font-size: 10px;
    }





}