




footer img {
    width: 50px;
    margin: 0.4%;
    margin-left: 5%;
}

.logofoot {
    scale: 2.4;
}



footer p {
    font-size: 1.3rem;
}

.skill {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 4%;
    padding-bottom: 50px;
}

.skill img {
    grid-column: 2/3;
    width: 100%;
    border-radius: 20px;
}
/* GRID TING TING TING TING TING TING TING TING TING TING TING TING TING */
.grid1 {
    grid-column: 2/3;
grid-row: 1;

}
.grid1t {
    grid-column: 2/3;
    grid-row: 1;
    padding-left: 10px;
    padding-top: 7%;
}

.grid2 {
    grid-column: 2/3;
    grid-row: 2;

}

.grid2t {
    grid-column: 2/3;
    grid-row: 2;
    padding-left: 10px;
    padding-top: 7%;
}

.grid3 {
    grid-column: 2/3;
    grid-row: 3;

}

.grid3t {
    grid-column: 2/3;
    grid-row: 3;
    padding-left: 10px;
    padding-top: 7%;
}

.grid4 {
    grid-column: 2/3;
    grid-row: 4;

}

.grid4t {
    grid-column: 2/3;
    grid-row: 4;
    padding-left: 10px;
    padding-top: 7%;
}

.grid5 {
    grid-column: 2/3;
    grid-row: 5;

}

.grid5t {
    grid-column: 2/3;
    grid-row: 5;
    padding-left: 10px;
    padding-top: 7%;
}

.grid6 {
    grid-column: 2/3;
    grid-row: 6;

}

.grid6t {
    grid-column: 2/3;
    grid-row: 6;
    padding-left: 10px;
    padding-top: 7%;
}




.back-video {
    position: absolute;
    width: 100%;
    z-index: -1;
}

body {
    background-color: #02111B;
}
@media screen and (min-width: 800px) { 
.content {
        text-align: center;
        padding-top: 10%;
        padding-bottom: 25%;
    }
footer {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        width: auto;
        height: 400px;
        background-color: #092634;
        align-items: center;
        padding-left: 10%;
    }


.content h1 {
    padding-top: 10%;
        font-size: 7rem;
        color: #fcfcfc;
        font-family: "Nothing You Could Do";
        font-weight: 400;
        font-style: normal;
    }

.hvid {
    text-decoration: none;
    display: inline-block;
    color: #fcfcfc;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    border: 2px solid #fcfcfc;
    padding: 5px 40px;
    border-radius: 50px;
    margin-top: 40px;
    margin: 20px;
}

.orange {
    text-decoration: none;
    display: inline-block;
    color: #02111B;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    padding: 7px 42px;
    border-radius: 50px;
    margin-top: 40px;
    margin: 20px;
    background-color: orange;
}

.info {
    font-family: "Jost", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fcfcfc;
        padding-left: 20%;
        padding-right: 20%;
        
}

.info1 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    font-size: 1.3rem;
    padding-left: 20%;
    padding-right: 20%;
}

.orange1 {
    text-decoration: none;
    display: inline-block;
    color: #02111B;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    padding: 7px 42px;
    border-radius: 50px;
    margin: 20px;
    background-color: orange;
    text-align: center;
    transition: background-color 0.3s ease;
}

.midt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    left: 0;
}


.conatiner {
    padding-top: 5%;
}

h2 {
    font-family: "Manrope", sans-serif;
        color: #fcfcfc;
        font-size: 3rem;
        text-align: center;
}

.rail img {
    padding: 2%;
}

.rail {
    display: flex;
    justify-content: center;
        align-items: center;
        padding-bottom: 10%;
}

h3 {
        font-family: "Manrope", sans-serif;
            color: #fcfcfc;
            font-size: 2.8rem;
}
p {
 font-family: "Jost",
 sans-serif;
 font-weight: 500;
 font-style: normal;
 color: #fcfcfc;
}

.myp {
    font-size: 4rem;
    color: #fcfcfc;
    font-family: "Nothing You Could Do";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    padding-top: 90px;
    border-bottom: #fcfcfc 2px solid;
    margin-left: 90px;
    margin-right: 90px;
    
}
.myp2 {
    padding: 20px;
    padding-top: 90px;
    margin-left: 150px;
    margin-right: 150px;
}

}





@media screen and (max-width: 800px) {
    .content {
            text-align: center;
            padding-top: 10%;
            padding-bottom: 10%;
        }
.content h1 {
        font-size: 5rem;
        color: #fcfcfc;
        font-family: "Nothing You Could Do";
        font-weight: 400;
        font-style: normal;
    }

.info {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    padding-left: 20%;
    padding-right: 20%;

}

.info1 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    font-size: 1.3rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
}

.midt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    left: 0;
    padding-bottom: 20%;
}

.company {
    padding-top: 5%;
}

h2 {
    font-family: "Manrope", sans-serif;
    color: #fcfcfc;
    font-size: 2rem;
    text-align: center;
}

.rail {
    display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
}
.rail img {
    padding: 10px;
    grid-column: 2/3;
display: inline;
    animation: 30s scroll linear infinite;
    width: 450px;
}

.container {
   overflow: hidden;

}


h3 {
    font-family: "Manrope", sans-serif;
    color: #fcfcfc;
    font-size: 1.6rem;
}

.card p {
    font-family: "Jost",
        sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    font-size: 1.5rem;
}

footer p {
    font-family: "Jost",
        sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
}

footer {
    width: auto;
    height: 400px;
    background-color: #092634;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 5%;
        left: 0;
        padding-bottom: 20%;
}

.social {
    margin-bottom: 60px;
    
}

.logofoot {
    margin-bottom: 60px;
    margin-left: 50px;
}

.myp {
    font-size: 3rem;
    color: #fcfcfc;
    font-family: "Nothing You Could Do";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    padding-top: 90px;
    border-bottom: #fcfcfc 2px solid;
    margin-left: 90px;
    margin-right: 90px;
}

.myp2 {
    padding: 20px;
    padding-top: 90px;
    margin-left: 40px;
    margin-right: 40px;
}


footer .logofoot {
    margin-left: 42%;
}

footer p {
    text-align: center;
}

footer .social {
    display: block;
    margin-left: 5%;
}

footer .logofoot {
    margin-left: 42%;
}

footer p {
    text-align: center;
}


}
