




footer img {
    width: 50px;
}

.logofoot {
    scale: 2.4;
}



footer p {
    font-size: 1.3rem;
}



.back-video {
    position: absolute;
    width: 100%;
    z-index: -1;
}

body {
    background-color: #02111B;
}
@media screen and (min-width: 800px) { 

    .content {
            text-align: center;
            padding-top: 20%;
        }

footer {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        width: auto;
        height: 400px;
        background-color: #092634;
        align-items: center;
        padding-left: 10%;
    }


.content h1 {
        font-size: 4.8rem;
        color: #fcfcfc;
        font-family: "Nothing You Could Do";
        font-weight: 400;
        font-style: normal;
    }

.content .orange {
text-decoration: none;
    display: inline-block;
    color: #02111B;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    padding: 7px 42px;
    border-radius: 50px;
    margin-top: 40px;
    margin: 20px;
    background-color: rgb(255, 145, 0);
    transition: background-color 1s, color 0.2s;
  
}

.content .orange:hover {
background-color: #ab6700;
    color: white;
   
}

.content .hvid {
    text-decoration: none;
        display: inline-block;
        color: #fcfcfc;
        font-size: 1.5rem;
        font-family: "Manrope", sans-serif;
        border: 2px solid #fcfcfc;
        padding: 5px 40px;
        border-radius: 50px;
        margin-top: 40px;
        margin: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.content .hvid:hover {
    background-color: #fcfcfc;
    color: #000;
}

.info {
    font-family: "Jost", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fcfcfc;
        padding-left: 20%;
        padding-right: 20%;
        
}

.info1 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    font-size: 1.3rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
}

 .orange1 {
    text-decoration: none;
    display: inline-block;
    color: #02111B;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    padding: 7px 42px;
    border-radius: 50px;
    margin-top: 40px;
    margin: 20px;
    background-color: rgb(255, 145, 0);
    transition: background-color 1s, color 0.2s;
}
 .orange1:hover {
    background-color: #ab6700;
    color: white;
}

.midt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    left: 0;
}


h2 {
    font-family: "Manrope", sans-serif;
        color: #fcfcfc;
        font-size: 3rem;
        text-align: center;
}

.rail img {
    padding: 2%;
}

.rail {
    display: flex;
    justify-content: center;
        align-items: center;
        padding-bottom: 10%;
}

h3 {
        font-family: "Manrope", sans-serif;
            color: #fcfcfc;
            font-size: 2.5rem;
}
p {
 font-family: "Jost",
 sans-serif;
 font-weight: 500;
 font-style: normal;
 color: #fcfcfc;
}

}





@media screen and (max-width: 800px) {

.content {
        text-align: center;
        padding-top: 10%;
    }
.content h1 {
        font-size: 2rem;
        color: #fcfcfc;
        font-family: "Nothing You Could Do";
        font-weight: 400;
        font-style: normal;
    }

.content .hvid {
    text-decoration: none;
    display: inline-block;
    color: #fcfcfc;
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    border: 2px solid #fcfcfc;
    padding: 5px 40px;
    border-radius: 50px;
    margin-top: 40px;
    margin: 20px;
}

.content .orange {
    text-decoration: none;
    display: inline-block;
    color: #02111B;
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    padding: 7px 42px;
    border-radius: 50px;
    margin-top: 40px;
    margin: 20px;
    background-color: orange;
    
}

.info {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    padding-left: 20%;
    padding-right: 20%;

}

.info1 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    font-size: 1.3rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
}

.orange1 {
    text-decoration: none;
    display: inline-block;
    color: #02111B;
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    padding: 7px 42px;
    border-radius: 50px;
    margin: 20px;
    background-color: orange;
    text-align: center;
    transition: background-color 0.3s ease;
}

.midt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    left: 0;
    padding-bottom: 20%;
}

.company {
    padding-top: 5%;
}

h2 {
    font-family: "Manrope", sans-serif;
    color: #fcfcfc;
    font-size: 2rem;
    text-align: center;
}

.rail {
    display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
}
.rail img {
    padding: 10px;
    grid-column: 2/3;
display: inline;
    animation: 20s scroll linear infinite;
    width: 450px;
}

.container {
   overflow: hidden;

}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-201%);
    }
}

h3 {
    font-family: "Manrope", sans-serif;
    color: #fcfcfc;
    font-size: 1.2rem;
}

.card p {
    font-family: "Jost",
        sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
    font-size: 1.5rem;
}

footer p {
    font-family: "Jost",
        sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fcfcfc;
}

footer {
    width: auto;
    height: 400px;
    background-color: #092634;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 5%;
        left: 0;
        padding-bottom: 20%;
}

.social {
    margin-bottom: 60px;
    
}

.logofoot {
    margin-bottom: 60px;
    margin-left: 50px;
}

footer .social {
    display: block;
    margin-left: 6%;
}

footer img {
    margin-left: 5%;
}

footer .logofoot {
    margin-left: 44%;
}

footer p {
text-align: center;
}


}
